.mint_box {
  background: linear-gradient(rgb(75, 53, 134), rgb(250, 163, 64));
  background-color: black;
  /* background: radial-gradient(
    circle at center center,
    rgb(250, 163, 64),
    rgb(75, 53, 134) 110%
  ); */
  border: 2px solid rgb(250, 163, 64);
  border-radius: 15px;
  box-shadow: 0px 0px 20px black;
  overflow: hidden;
  padding: 50px 20px;
  min-height: 250px;
  /* height: 100%; */
  /* margin: auto auto; */
}

.stat_header {
  font-size: 2rem;
  border-bottom: 1px solid white;
}

.stat {
  font-size: 1.5rem;
}

.collection_image {
  /* height: 350px; */
  width: auto;
  border: 2px solid black;
  border-radius: 15px;
  box-shadow: 0px 0px 20px black;
  margin-bottom: 40px;
}

/* .MuiButton-containedPrimary,
.MuiButton-contained {
  align-items: center !important;
  border: 2px solid rgb(250, 163, 64) !important;
  border-radius: 15px !important;
  box-shadow: 0px 0px 5px 2px #000000 !important;
  color: rgb(250, 163, 64) !important;
  cursor: pointer !important;
  font-size: 2rem !important;
  font-weight: 700 !important;
  height: 50px !important;
  justify-content: center !important;
  margin: 5px !important;
  overflow: hidden !important;
  padding: 0 50px !important;
  transition: border 0.185s ease-out !important;
  z-index: 3 !important;
  background-color: rgb(75, 53, 134) !important;
} */
