.about_container {
  /* height: 100%; */
}

.about_text {
  color: white;
  font-size: 1.15rem;
  padding: 0px 150px;
}

.nfteepee_example {
  height: 300px;
}

@media screen and (max-width: 750px) {
  .about_text {
    font-size: 1.15rem;
    padding: 0px 15px;
  }
}
