.nav_box {
  background: radial-gradient(
    circle at left bottom,
    rgb(193, 122, 171),
    rgb(77, 96, 185),
    rgb(80, 235, 188)
  );
  border-right: 2px solid rgba(0, 0, 0, 0.8);
  box-shadow: 0px 0px 20px black;
  overflow: hidden;
  height: 100%;
  /* width: 15%; */
  /* height: 100%; */
  position: relative;
  top: 0;
  left: 0;
}

.nav_logo {
  padding: 30px 10px;
}

.nav_links {
  margin-top: 30px;
}

.nav_social {
  position: relative;
  bottom: 0;
}

.social_icon {
  width: 50px;
  margin: 0px 30px;
}

.nav_button {
  border-top: 1px solid white;
  border-bottom: none;
  border-left: none;
  border-right: none;
  height: 80px;
  background: transparent;
  text-transform: uppercase;
  color: white;
  font-size: 1.25rem;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav_button_last {
  border-bottom: 1px solid white;
}

.nav_button:hover,
.nav_button_active {
  /* background: radial-gradient(
    circle at right top,
    rgb(255, 161, 225),
    rgb(105, 132, 255),
    rgb(90, 255, 206)
  ); */
  /* font-size: 1.5rem; */
  /* font-weight: 700; */
  background: rgba(255, 255, 255, 0.5);
  color: black;
}

.color_mode,
.color_mode:hover {
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  background: rgba(255, 255, 255, 0.5);
  border-top: 1px solid white !important;
}

/* @media only screen and (min-width: 576px) {
  .header-box {
    padding: 50px 200px;
  }
} */
