/*
Colors:
- pink: rgb(193, 122, 171)
- blue: rgb(56, 137, 216)
- yellow: rgb(240, 148, 55)
*/

@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,400;0,700;1,400&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "MTV", sans-serif; /* CHANGE FOR RESKIN */
}

html {
  height: 100%;
  overflow: scroll;
  overflow-x: hidden;
}
::-webkit-scrollbar {
  width: 0; /* Remove scrollbar space */
  background: transparent; /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
/* ::-webkit-scrollbar-thumb {
  background: #ff0000;
} */

body {
  min-height: 100%;
  overflow: auto;
  margin: 0;
  padding: 0px;
  color: white;
  /* background: linear-gradient(0deg, rgba(51, 38, 38, 0.3), rgba(0, 0, 0, 0.6)),
    url("images/background.png") no-repeat center center fixed; */
  /* background: url("images/background.png") no-repeat center center fixed; */
  /* background-size: cover; */
  background-color: #000;
  text-align: center;
}

.App {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: auto;
  background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)),
    url("../images/background2.png") center / cover fixed no-repeat;
}

/* .App2 {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: auto;
  background: url("images/background2.png") center / cover fixed no-repeat;
} */

.app-header {
  /* height: 40vh; */
  /* overflow: hidden; */
}

.app-body {
  /* min-height: 53vh; */
  /* display: flex; */
  /* flex-direction: column; */
  /* align-items: center; */
  /* font-size: calc(14px + 1.5vmin); */
}

.app-footer {
  /* min-height: 7vh; */
}

.link {
  color: black;
  cursor: pointer;
  text-decoration: none;
  padding-left: 2px;
}

.double-bars {
  font-weight: 200;
  padding: 0px 10px;
}
