.App {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: auto;
}

.light_mode {
  background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)),
    url("../assets/images/background.png") center / cover fixed no-repeat;
}

.font_main {
  font-family: "MTV";
}

.font_alt {
  font-family: "Courier New", Courier, monospace;
}

.navigation {
  /* height: 10%; */
  /* overflow: hidden; */
}

.page_content {
  margin-top: 5%;
  padding-bottom: 5%;
}

.page_box {
  /* background: linear-gradient(rgba(75, 53, 134, 0.7), rgba(250, 163, 64, 0.7)); */
  /* border: 2px solid rgb(250, 163, 64); */
  background: linear-gradient(
    rgba(75, 53, 134, 0.7),
    rgba(35, 141, 67, 0.5) 80%
  );
  backdrop-filter: blur(50px);
  border: 2px solid rgb(64, 250, 120);
  border-radius: 15px;
  box-shadow: 0px 0px 20px black;
  /* box-shadow: 0px 0px 20px 5px white; */
  overflow: hidden;
  padding: 50px 20px;
  height: auto;
  /* width: auto; */
  /* height: 100%; */
  /* margin: auto auto; */
}
