/*
Colors:
- pink: rgb(193, 122, 171)
- blue: rgb(56, 137, 216)
- yellow: rgb(240, 148, 55)
*/

@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,400;0,700;1,400&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Rajdhani", sans-serif;
  font-size: 22px;
}

html {
  height: 100%;
  overflow: hidden;
}
::-webkit-scrollbar {
  width: 0; /* Remove scrollbar space */
  background: transparent; /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
/* ::-webkit-scrollbar-thumb {
  background: #ff0000;
} */

body {
  min-height: 100%;
  overflow: scroll;
  margin: 0;
  padding: 0;
  color: white;
  /* background: linear-gradient(0deg, rgba(51, 38, 38, 0.3), rgba(0, 0, 0, 0.6)),
    url("images/background.png") no-repeat center center fixed; */
  /* background: url("images/background.png") no-repeat center center fixed; */
  /* background-size: cover; */
  background-color: #000;
  text-align: center;
}

.makeStyles-root-1 .MuiDialogTitle-root {
  color: white;
  background: radial-gradient(
    circle at left bottom,
    rgb(193, 122, 171),
    rgb(77, 96, 185),
    rgb(80, 235, 188)
  );
  /* border-bottom: 1px solid black; */
}

.makeStyles-root-1 .MuiDialogContent-root .MuiListItem-root .MuiButton-root {
  color: white;
  /* border: 0.5px solid black; */
}

.makeStyles-root-1
  .MuiDialogContent-root
  .MuiListItem-root
  .MuiButton-root:hover {
  color: black;
  background: rgb(212, 212, 212);
}
